@mixin CircleImage($Height, $Width) {
    width: $Height;
    height: $Width;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

body {
    height: 100%;
    width: 100%;
    font-family: "HappyTitle";
}
// HTML - index.html ->> AREA <<-

.logo_title {
    text-align: center;
}

@media(max-width:600px) { 
    .leftsidebar{
        border-bottom: 1px solid grey;
    }
    .media_option {
        max-width: none;
    }

    .user_info {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }

    .ShowArea {
        z-index: -999;
        margin-left: 7px;
        margin-top: 7px;
        font-family: "HappyBold";
    }

    .name {
        padding-left: 10px;
    }

}
@media(min-width:601px) { 
    .leftsidebar{
        height: 100vh!important;
        border-right: 1px solid grey;
        position: fixed;
    }

    .media_option {
        max-width: 200px!important;
        min-width: 200px!important;
    }

    .user_info {
        left: 0;
        bottom: 0;
        position: fixed;
        display: flex;
        align-items: center;
        padding: 0 0 10px 10px;
    }

    .name {
        padding-left: 10px;
    }

    .ShowArea {
        z-index: -999;
        margin-left: 200px;
        margin-top: 7px;
        font-family: "HappyBold";
    }
}

.view {
    padding-top: 57px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items {
    height: 2.5rem;
}

.first {
    margin-top: 2.5rem;
    
}

.test {
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: solid 1px #000000;
    justify-content: space-between;
}

.profile img{
    @include CircleImage(50px, 50px)
}
// --<<< AREA END >>>>--

// HTML - Quest_View.html ->> AREA <<-
.Quest_View {
    .Banner {
        width: 100%;
        height: 100px;
        background-color: red;
        margin-bottom: 10px;
    }

    .Title {
        font-size: 2rem;
    }

    .AREA_Book {
        width: 100%;
        height: 250px;
        white-space: nowrap;
        position: relative;
        overflow-x: auto;
        & img{
            float: none;
            margin: 0 0.25%;
            display: inline-block;
            zoom: 1;
            height: 200px;
            width: 133px;
        }
    }

    .AREA_Review {
        width: 100%;
        height: 250px;
        white-space: nowrap;
        position: relative;
        overflow-x: scroll;

        .Review {
            float: none;
            white-space: normal;
            border: 1px solid black;
            border-radius: 20px;
            width: 300px;
            padding: 10px;
            margin: 0 0.25%;
            display: inline-block;
            zoom: 1;
        }

        .UserInfo{
            display: flex;
            align-items: center;
            .Name {
                padding-left: 10px;
                font-size: 1.25em;
            }

            & img {
                @include CircleImage(50px, 50px)
            }
        }

        .Article {
            padding-top: 10px;
        }
    }
}
// --<<< AREA END >>>>--

// HTML - AnotherUserLibray.html ->> AREA <<-
.AnotherUserLibray_View{
    display: flex;
    align-items: center;
    flex-direction: column;

    .LeftSide {
        display: flex;
        align-items: center;
    }

    .UserInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 900px;
        margin: 50px 0px 50px 0px;

        .Name, .Follow {
            font-size: 2em;
        }
    }
    .Profile {
        padding-right: 20px;
        & img {
            @include CircleImage(120px, 120px)
        }
    }

    .LibrayList {
        border-top: 1px solid black;
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;

        & .Library {
            margin: 0.4% 0.4%;
        }
    }
}
// --<<< AREA END >>>>--

// HTML - Book_Info.html ->> AREA <<-   
.Book_Info {
    margin: 10px;
    .BookDetail {
        display: flex;
        flex-direction: column;
        .DetailTop{
            display: flex;
            justify-content: space-between;
            .BookInfo{
                width: auto;
                display: flex;
                .BookCover{
                    & img{
                        width: 300px;
                        height: 420px;
                    }
                }
                .BookDetail {
                    padding: 10px 0px 0px 20px;
                    .Title {
                        font-size: 2.3vw;
                    }
                    .Author {
                        font-size: 1.7vw;
                    }
                }
            }
            .Statics {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: auto;
                i {
                    padding-right: 5px;
                }
                div {
                    display: flex;
                    align-items: center;
                }
                .Heart {
                    i {
                        color: #ff0000;
                    }
                }
            }
        }
        .Introduce {
            border: 1px solid #000000;
        }
    }
    .Purchase {
        background-color: blue;
        height: 300px;
        // width: 25%;
    }
    .Review {
        background-color: yellow;
        height: 300px;
        // width: 100%;
    }
}