{% extends 'base.html' %}
{% block content %}

<div class="Book_Info">
    <div class="container px-0">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="{{ book.img_url }}"
                    class="img-fluid" style="width: 200px;">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-column justify-content-between align-content-start">
                <div class="row">
                    <div class="fs-1">{{ book.title }}</div>
                    <div class="fs-3">{{ book.author }}</div>
                </div>
                <div class="row">
                    <div class="fs-2">팀쿡씌</div>
                    <div class="fs-4">❝아이폰을 쓰도록 합시다❞</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                <div><i class="bi bi-eye-fill"></i>&nbsp;123</div>
                <div><i class="bi bi-heart-fill" style="color: red;"></i>&nbsp;456</div>
                <div><i class="bi bi-bookmark-fill"></i>&nbsp;789</div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-1 col-lg-1"></div>
            <div class="col-sm-12 col-md-10 col-lg-10">
                <div class="card">
                    <div class="card-body">
                        {% if book.book_info|length > 0 %}
                            {{ book.book_info }}
                        {% else %}
                            책 설명이 없어요 :(
                        {% endif %}
                    </div>
                </div>
                <div>
                    {% if book.reviews|length > 0 %}
                        {{ reviews }}
                    {% else %}
                        작성된 리뷰가 없어요 :(
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>


{% endblock %}