{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/style1.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="Book_Info">
    <div class="container px-0">
        <div class="flex-row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="{{ book.img_url }}" class="img-fluid" style="width: 200px;">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-column justify-content-between align-content-start">
                <div class="row">   
                    <div class="fs-2">{{ book.title }}</div>
                    <div class="fs-3">{{ book.author }}</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                <div><i class="bi bi-eye-fill"></i>&nbsp;123</div>
                <div><i class="bi bi-heart-fill" style="color: red;"></i>&nbsp;456</div>
                <div><i class="bi bi-bookmark-fill"></i>&nbsp;789</div>
                {% if user.is_authenticated %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="리뷰 작성하기">
                </form>
                {% else %}
                <form action="/accounts/login/">
                    <input type="submit" value="리뷰 작성하기" />
                </form>
                {% endif %}
            </div>
        </div>
        <br>
        <div>
            <div class="col-sm-12 col-md-1 col-lg-1"></div>
            <div class="col-sm-12 col-md-10 col-lg-10 ">
                <div class="card">
                    <div class="card-body">
                        {% if book.book_info|length > 0 %}
                        {{ book.book_info }}
                        {% else %}
                        책 설명이 없어요 :(
                        {% endif %}
                    </div>
                </div>
                <div class="mt-3">
                    {% if review_user_profile_list|length > 0 %}
                    <div style="width: 100%;height: 250px;white-space: nowrap;position: relative;overflow-x: auto;">
                        {% for review_data in review_user_profile_list %}   
                        <div class="card text-center" style="float: none;margin: 0 0.25%;display: inline-block;zoom: 1;width: 300px;padding: 1.3em; cursor:hand"
                        onclick="location.href='/review/{{review_data.review.review_id}}/'">
                        <div class="d-flex align-items-center pb-1" >
                            <img src="{{review_data.profile.profile_img.url}}" class="rounded-circle" style="width: 45px;">
                            <p style="margin-bottom: 0;" class="ps-1">{{review_data.user.nickname}}</p>
                        </div>
                            <h4 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ review_data.review.title }}</h4>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    작성된 리뷰가 없어요 :(
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>


{% endblock %}