{% extends 'base.html' %}
{% block content %}

<div class="Book_Info">
    <div class="container px-0">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="https://media.discordapp.net/attachments/856412895009177640/1002902943550423050/Aspect_ratio3_2_Portraittrue_50_Heightfalse.png"
                    class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-column justify-content-between align-content-start">
                <div class="row">
                    <div class="fs-1">책 이름</div>
                    <div class="fs-3">저자</div>
                </div>
                <div class="row">
                    <div class="fs-2">팀쿡씌</div>
                    <div class="fs-4">❝아이폰을 쓰도록 합시다❞</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                <div>조회건수</div>
                <div>좋아요수</div>
                <div>스크랩수</div>
                <div>좋아요 버튼</div>
                <div>스크랩 버튼</div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-1 col-lg-1"></div>
            <div class="col-sm-12 col-md-10 col-lg-10">
                <div class="card">
                    <div class="card-body">
                        대통령은 취임에 즈음하여 다음의 선서를 한다. 훈장등의 영전은 이를 받은 자에게만 효력이 있고, 어떠한 특권도 이에 따르지 아니한다. 모든 국민은 신속한 재판을 받을 권리를
                        가진다. 형사피고인은 상당한 이유가 없는 한 지체없이 공개재판을 받을 권리를 가진다. 국가는 농수산물의 수급균형과 유통구조의 개선에 노력하여 가격안정을 도모함으로써
                        농·어민의 이익을 보호한다. 제안된 헌법개정안은 대통령이 20일 이상의 기간 이를 공고하여야 한다. 대통령이 궐위된 때 또는 대통령 당선자가 사망하거나 판결 기타의 사유로
                        그 자격을 상실한 때에는 60일 이내에 후임자를 선거한다. 정당은 법률이 정하는 바에 의하여 국가의 보호를 받으며, 국가는 법률이 정하는 바에 의하여 정당운영에 필요한
                        자금을 보조할 수 있다.
                    </div>
                </div>
                <div>
                    리뷰 횡 스크롤
                </div>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>

{% endblock %}