{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/style1.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="Quest_View">
    <div class="Banner"></div>
    <div class="BookOfMonth">
        <div class="Title">이달의 책</div>
        <div class="AREA_Book">
            {% for data in books %}
                <img src="{{ data.img_url }}" onclick="location.href='/book/{{data.book_id}}/'" style="cursor:hand">
            {% endfor%}
        </div>
    </div>
    <div class="ReviewOfMonth">
        <div class="Title">이달의 리뷰</div>
        <div class="AREA_Review">
            {% for Review in review_user_profile_list %}
                <div class="Review" onclick="location.href='/review/{{Review.review.review_id}}/'"  style="cursor:hand">
                    <div class="UserInfo">
                        <div class="Profile"><img src="{{Review.profile.profile_img.url}}"></div>
                        <div class="Name">{{Review.user.nickname}}</div>
                    </div>
                    <div class="Article" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{Review.review.title}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}