{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/row.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="Quest_View">
    <div class="Banner"></div>
    <div class="BookOfMonth">
        <div class="Title">이달의 책</div>
        <div class="AREA_Book">
            {% comment %} 
            {% for Book in BookData %}
                <img src="{{ Book['img_url'] }}">
            {% endfor %}
            {% endcomment %}
            <img src="https://image.aladin.co.kr/product/29770/50/coversum/k882838407_1.jpg">
        </div>
    </div>
    <div class="ReviewOfMonth">
        <div class="Title">이달의 리뷰</div>
        <div class="AREA_Review">
            {% comment %} 
            <!-- {% for Review in ReviewData %}
                <div class="Review">
                    <div class="UserInfo">
                        <div class="Profile"><img src="{{Review['user_img_url']}}"></div>
                        <div class="Name">{{Review['user_name']}}</div>
                    </div>
                    <div class="Article">{{Review['data']}}</div>
                </div>
            {% endfor %} -->
            {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}