{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/style1.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="Library_View">
    <div class="container pt-4">
        <div class="flex-row">
            <div class="row justify-content-between align-items-center" style="display: flex;">
                <div class="col-10 d-flex align-items-center w-auto">
                    <img src="{{ profile.profile_img.url }}" class="rounded-circle w-auto" style="width: 170px; height:170px">
                    <div class="d-flex w-auto flex-column ps-4">
                        <div class="fs-1 w-auto">{{ user.nickname }}</div>
                        <div class="fs-5 w-auto">{{ profile.introduction }}</div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row flex-row">
            {% for Detail in review_book_list %}
            <div class="col-2 justify-content-centerj" onclick="location.href='/review/{{Detail.review.review_id}}/'" style="cursor:hand">
                <img class="justify-content-center" src="{{Detail.book.img_url}}"style="width: 150px;">
                <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{Detail.book.title}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}