{% extends 'base.html' %}
{% block content %}
<div class="container my-auto">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-3 mx-auto"></div>
        <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
            <div class="card border-0 shadow my-5">
                <div class="card-body p-4 p-sm-5">
                    <p class="card-title text-center mb-5 fw-light fs-1">리뷰 수정</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="text-start">
                            {% bootstrap_form form %}
                        </div>
                        {% buttons %}
                        <div class="form-group d-grid gap-2">
                            <button class="btn btn-dark" type="submit">수정하기</button>
                        </div>
                        {% endbuttons%}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-3 mx-auto"></div>
    </div>
</div>
{% endblock %}