{% extends 'base.html' %}
{% block content %}

<div class="Book_Info">
    <div class="container px-0">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="https://media.discordapp.net/attachments/856412895009177640/1002902943550423050/Aspect_ratio3_2_Portraittrue_50_Heightfalse.png"
                    class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-column justify-content-between align-content-start">
                <div class="row">
                    <div class="fs-1">{{ book.title }}</div>
                    <div class="fs-3">{{ book.author }}</div>
                </div>
                <div class="row">
                    <div class="fs-2">{{ user.name }}</div>
                    <div class="fs-4">{{ review.title }}</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                <div>조회건수</div>
                <div>좋아요수</div>
                <div>스크랩수</div>
                <div>좋아요 버튼</div>
                <div>스크랩 버튼</div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-1 col-lg-1"></div>
            <div class="col-sm-12 col-md-10 col-lg-10">
                <div class="card">
                    <div class="card-body">
                        {{ review.content }}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <<form action="/" method="POST" class="my-3">
                            {% csrf_token %}
                            {% include 'form_errors.html' %}
                            <label for="content"></label>
                            <textarea name="content" id="content"
                                    {% if post.comment_set.count < 2 %}autofocus{% endif %}
                                    {% if not user.is_authenticated %}disabled{% endif %}
                                    class="form-control" rows="10" ></textarea>
                            <hr>
                            <input type="submit" value="등록하기" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>

{% endblock %}