{% extends 'base.html' %}
{% block content %}

<div class="Book_Info">
    <div class="container px-0">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="{{ book.img_url }}"
                    class="img-fluid" style="width: 200px;">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-column justify-content-between align-content-start">
                <div class="row">
                    <div class="fs-1" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ book.title }}</div>
                    <div class="fs-3">{{ book.author }}</div>
                </div>
                <div class="row">
                    <div class="fs-2">{{ user.nickname }}님의 한줄평</div>
                    <div class="fs-3">❝{{ review.title }}❞</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                <div><i class="bi bi-eye-fill"></i>&nbsp;123</div>
                <div><i class="bi bi-heart-fill" style="color: red;"></i>&nbsp;456</div>
                <div><i class="bi bi-bookmark-fill"></i>&nbsp;789</div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-1 col-lg-1"></div>
            <div class="col-sm-12 col-md-10 col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <h2>나의 평가</h2><br>
                        {{ review.content }}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form action="/" method="POST" class="my-3">
                            {% csrf_token %}
                            {% include 'form_errors.html' %}
                            <label for="content"></label>
                            <textarea name="content" id="content"
                                    {% if post.comment_set.count < 2 %}autofocus{% endif %}
                                    {% if not user.is_authenticated %}disabled{% endif %}
                                    class="form-control" rows="5" ></textarea>
                            <hr>
                            <input type="submit" value="등록하기" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>

{% endblock %}