{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/style1.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="Search_View">
    {% if books|length > 0 %}
    <table class="table table-striped">
        <tbody>
            {% for book in books %}
            <tr onclick="location.href='/book/{{book.book_id}}/'" style="cursor:hand">
                <td><img src="{{ book.img_url }}"></td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>검색결과가 존재하지 않습니다 :(</h3>
    {% endif %}

</div>
{% endblock %}