{% extends 'index.html' %}
{% block content %}
<div class="AnotherUser_Review">
    <div class="container">
        <div class="row">
            <div class="BookInfo">
                <div class="Cover"></div>
                <div class="Name"></div>
                <div class="Author"></div>
                <div class="OnelineReview"></div>
            </div>
            <div class="Status">
                <div class="Count">
                    <div class="Heart"></div>
                    <div class="View"></div>
                    <div class="Bookmark"></div>
                </div>
                <div class="Action">
                    <button>Heart Button</button>
                    <button>Bookmark Button</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="Review"></div>
        </div>
        <div class="row">
            <div class="Comment"></div>
        </div>
    </div>
</div>
{% endblock %}  