{% extends 'index.html' %}
{% block content %}
<div class="AnotherUserLibray_View">
    <div class="UserInfo">
        <div class="LeftSide">
            <div class="Profile">
                <img src="{{ UserInfo[0]['profile_image'] }}">
            </div>
            <div>
                <div class="Name">{{ UserInfo[0]['name'] }}</div>
                <div class="Description">{{ UserInfo[0]['description'] }}</div>
            </div>
        </div>
        <div class="Follow">
            <i class="bi bi-person-plus-fill"></i>
        </div>
    </div>
    <div class="LibrayList">
    {% for Library in LibraryData %}
    <div class="Library">
        <div class="Name">{{Library['name']}}</div>
        <img src="{{Library['cover_img_url']}}">
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}