{% extends 'index.html' %}
{% block content %}

<div class="Book_Info">
    <div class="row">
        <div class="col-lg-9 BookDetail">
            <div class="row DetailTop">
                <div class="BookInfo">
                    <div class="BookCover">
                        <img src="{{ BookInfo[0]['profile_image'] }}">
                    </div>
                    <div class="BookDetail">
                        <div class="Title">{{ BookInfo[0]['name'] }}</div>
                        <div class="Author">{{ BookInfo[0]['Author'] }}</div>
                    </div>
                </div>
                <div class="Statics">
                    <div class="View">
                        <i class="bi bi-eye-fill"></i>
                        {{ BookInfo[0]['View_Count'] }}
                    </div>
                    <div class="Bookmark">
                        <i class="bi bi-bookmark"></i>
                        {{ BookInfo[0]['Bookmark_Count'] }}
                    </div>
                    <div class="Heart">
                        <i class="bi bi-heart-fill"></i>
                        {{ BookInfo[0]['Heart_Count'] }}
                    </div>
                </div>
            </div>
            <div class="row DetailBottom ">
                <div class="Introduce ">{{ BookInfo[0]['Introduce'] }}</div>
            </div>
        </div>
        <div class="col-lg-3 Purchase">
            <div class="Outside">
                {% for PurchaseDetail in BookInfo[0]['Purchase'] %}
                <div class="Group">
                    <div class="Title">{{  PurchaseDetail['CompanyName'] }}</div>
                    <div class="Info">
                        <a class="btn btn-primary" href="{{ PurchaseDetail['PurchaseLink'] }}" role="button">구매하기</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 Review">
            <div class="Group">
                <div class="Title">리뷰</div>
                <div class="ReviewCount">{{ BookInfo[0]['ReviewCount'] }}개</div>
            </div>
            {% for ReviewDetail in BookInfo[0]['Review'] %}
            <div class="ReviewDetail">
                <div class="UserInfo">
                    <div class="Profile">
                        <img src="{{ ReviewDetail['ProfileImage'] }}">
                    </div>
                    <div class="Name">{{ ReviewDetail['name'] }}</div>
                </div>
                <div class="View">
                    <div class="Data">{{ ReviewDetail['Data'] }}</div>
                    <div class="Status">
                        <div class="Heart">
                            <i class="bi bi-eye-fill"></i>
                            {{ ReviewDetail['Heart_Count'] }}
                        </div>
                        <div class="Bookmark">
                            <i class="bi bi-bookmark"></i>
                            {{ ReviewDetail['Bookmark_Count'] }}
                        </div>
                        <div class="Comment">
                            <i class="bi bi-chat-dots"></i>
                            {{ ReviewDetail['Comment_Count'] }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}