{% extends 'index.html' %}
{% block content %}
<div class="banner"></div>
<div class="BookOfMonth">
    <div class="title">이달의 책</div>
    <div class="bookcover">
        {% for show in bookdata %}
        <img src="{{show['img_url']}}" alt="{{show['title']}}">
        {% endfor %}
    </div>
</div>
<div class="ReviewOfMonth">
    <div class="title">이달의 리뷰</div>
    <div class="showReview">
        {% for show in review %}
        <div class="user_review">
            <div class="viewport">
                <div class="info">
                    <div class="profile"><img src="{{show['user_img_url']}}"></div>
                    <div class="name">{{show['user_name']}}</div>
                </div>
                <div class="data">{{show['data']}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="SuggestionLibrary">
    <div class="showLibrary"></div>
</div>
{% endblock %}